
		<% form_for(@user, :html => {:class => "pf-form"}) do |f| %>
	<div class="pf-element">
		<fieldset style="width: 970px">
			<%= f.error_messages(:object_name=>'information') %>
			<div class="pf-element pf-heading">
					<h2>Edit Your Account</h2>
					<p>Modify your account information.</p>
			</div>
			<div class="pf-element">
					<label>
							<span class="pf-label">First Name</span>
							<%= f.text_field(:first_name, :size => 30, :maxlength=>"100", :class=>"pf-field") %>
					</label>
			</div>
			<div class="pf-element">
					<label>
							<span class="pf-label">Last Name</span>
							<%= f.text_field(:last_name, :size => 30, :maxlength=>"100", :class=>"pf-field") %>
					</label>
			</div>

			<div class="pf-element">
					<label>
							<span class="pf-label">Email Address</span>
							<%= f.text_field(:email, :size => 30, :maxlength=>"100", :class=>"pf-field") %>
					</label>
			</div>

			<div class="pf-element pf-buttons" style="border-bottom: none !important; min-width: 0px !important">
				<%= submit_tag 'Update Information', :class=>"button" %>
				<div class="spacer"></div>
			</div>
				</fieldset>
			</div>
		<% end -%>
