<%= javascript_include_tag('jquery.min','generic_form') %>
<script type="text/javascript">
  jQuery.noConflict();
  jQuery(document).ready(function() {
    setupSubmitButtons("#saveForm");
  });
</script>



		<% form_for :user, :url => {:action => "reset_password"}, :html => {:class => "pf-form"} do |f| %>
							<div class="pf-element">
		<fieldset style="width: 970px">
			
			<%= f.error_messages(:object_name=>'information') %>
			<div class="pf-element pf-heading">
					<h2>Reset Password Form</h2>
					<p>Create a new password for yourself</p>
			</div>
			<div class="pf-element">
					<label>
							<span class="pf-label">New Password</span>
							<%= f.password_field :password, :size => 30, :class => "pf-field" %>
					</label>
			</div>

			<div class="pf-element">
					<label>
							<span class="pf-label">Confirm New Password</span>
							<%= f.password_field :password_confirmation, :size => 30, :class => "pf-field" %>
					</label>
			</div>

			<div class="pf-element pf-buttons" style="border-bottom: none !important; min-width: 0px !important;">
				<%= submit_tag 'Reset Password', :class=>"button", :id=>"saveForm" %>
				<div class="spacer"></div>
			</div>
			</fieldset>
			</div>
		<% end %>
